.mephoto {
    width:200px;
    float: left ;
    margin-right: 100px;
    border-radius: 20px;
}
.myface{
    max-width: 100%;
    margin-left: 2em;
    margin-top: -2em;
    float:left;
}
.mecaption{
    margin-left: 2em;
}
.intro{
	font-weight: bold;
    transform: translateX(-14%);
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}
em{
	color: red;
	font-style: normal;
}
h1{
	text-align: center;
	text-decoration: underline;
}
h2,h3,h4,h5,h6{
	text-decoration: underline;
    text-transform: uppercase;
}
.container{
    width:80%;
    margin:0 auto;
}
body{
    margin:0;
    background:white;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
}
header{
    background: LightBlue;
    
}
header::after{
    content:'';
    display:table;
    clear:both;
}
.logo{
    float:left;
    padding:10px ;
}
nav{
    float:right;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    display: inline-block;
    margin-left:100px;
    padding-top:40px;
    position: relative ;
}
nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}
nav a:hover{
    color:white;

}
nav a::before{
    content:'';
    display:block;
    height:5px;
    width:100px;
    background-color: black;
    position: absolute;
    top:0;
    width:0%;
}
nav a:hover::before{
    width:100%;
    transition: all ease-in-out 250ms;
}
.social{
    width:100px;
    height: 100px;
    object-fit: cover;
    margin-right:10px;
}
.UoS{
    height:50%;
    transform: translateX(50%);

}
.sociallinks{
    padding-top: 0px;
    position: relative;
}

.bgimage{
    background-image: url("Images/banner background.png");
    background-size: 100%;
    height: 200px;
    background-repeat: no-repeat;
    padding-bottom: 10vmax;
    position: relative;
}
.box{
    background:rgba(255,255,255,0.7);
    width: 50%;
    height:100%;
    text-align: justify;
    transform: translateX(0%);
    transform:translateY(25%);

}
.aInfo{
    font-size: 20px;
    color: black;
    text-align: center;
}
.gradvid{
    width: 50%;
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
}
